* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.5;
}

.wrap-all-container {
    background-color: #f1f1f1;
    width: 100%;
}

header {
    padding: 32px 16px;
}

.header-title {
    font-size: 36px;
    /* font-weight: 400; */
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px;
}

.header-description {
    margin: 1em 0px;
    text-align: center
}

.author-name {
    display: inline-block;
    padding: 0px 8px;
    color: white;
    background-color: black;
}

.article {
    color: black;
    background-color: #fff;
    margin: 16px 16px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.article img {
    width: 100%;
}

.header-article-container {
    padding: 0px 16px;
}

.header-article-container h3 {
    font-size: 24px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.title-description {
    font-size: 18px;
    margin: 10px 0px;
    margin-bottom: 1.67em;
}

.article-date {
    font-size: 18px;
    opacity: 0.6;
}

.article-content {
    padding: 0px 16px;
}

.article-footer {
    padding: 16px 0px;
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.read-more-button {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 24px;
    border: 1px solid #ccc;
}

.double-arr {
    font-size: 12px;
    /* text-transform: none; */
}
